@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply fixed inset-0 bg-white font-body text-typography-black text-xl;

    & > div {
      @apply w-full h-full;
    }
  }
}

.Toastify__toast {
  @apply text-base;

  &-body {
    @apply pr-4;
  }
}
